
<div class="fields">
	<form>
		
		<h2>Server Setup</h2>
		
		<label>[[IP]]</label>
		<input class="field short" name="ip" value ="" />
		<div class="note">[[Input the IP of the EnterMedia server to which you wish to upload.]]</div>
		
		<label>[[Username]]</label>
		<input class="field" style="width: 225px;" name="username" value ="" />
		
		<a class="btn">Edit User</a>
		
		<div style="margin: 10px 0 0 197px;">
		<input type="button" class="btn" value="Test Connection" />
		</div>
		
	</form>
	
	
	
	
	<div class="hr"></div>
	
	<form>
		
		<h2>Auto Push</h2>
	
		<div class="switch on"></div>
		
		<!-- hide if auto is off -->
		<div id="autotimes" style="display: none;">
			<label>[[Push Between]]</label>
					
			<input class="field vshort" name="between1" value ="" />
			<span class="field-connector">And</span>
			<input class="field vshort" name="between2" value ="" />
			<div class="note">[[Enter the hours between which you would like the uploads to take place.]]</div>
	
		</div>
		
	</form>
	
	<div class="hr"></div>

		<h2>Push Formats</h2>
	
<table>	
<tr>
		<td width="40px" class="emdatafield"> Default Profile </td>
		<td id="detail_convertpreset" class="emdatafieldvalue ">
		<input type="hidden" value="convertpreset" name="field">
		<div id="allnone">
			(<a href="javascript:selectall('publishdestinationcheckbox')">all</a><a href="javascript:selectnone('publishdestinationcheckbox')">none</a>)
		</div>
<table>
			<tbody>
				<tr>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="0">
					Original Format </td>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="largeimage">
					Image Large </td>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="mediumimage">
					Image Medium </td>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="thumbimage">
					Image Thumbnail </td>
				</tr>
				<tr>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="portraitcrop">
					Portrait Crop </td>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="largedocument">
					Document Preview </td>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="mp3audio">
					Mp3 Audio </td>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="previewffmpeg">
					Video MP4 Preview </td>
				</tr>
				<tr>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="previewflv">
					Video FLV </td>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="2">
					Video HQ AVI </td>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="1">
					Video HQ MP4 </td>
					<td>
					<input type="checkbox" class="publishdestinationcheckbox" name="convertpreset.value" id="publishdestination.${item.id}" value="previewffmpegthumb">
					Video Thumb </td>
				</tr>
				<tr></tr>
			</tbody>
		</table>
		</td> </tr>
</table>
	<input type="button" class="btn" style="margin-top: 15px" value="Save" /> 
</div>

<script>

	$('.switch').click(function(){
		if ( $(this).hasClass('on') ) {
			$(this).removeClass('on');
			$('#autotimes').show();
		} else {
			$(this).addClass('on');
			$('#autotimes').hide();
		}	
	});

</script>
