
<div class="fields">
	<form name="settingssave" method="post" action="$home$apphome/views/emp-settings/save.html">
		
		<h2>Push Server Setup</h2>
		<div class="hr"></div>

		<input type="hidden" name="field" value="push_masterswitch" />

		#set( $switch = $mediaarchive.getCatalogSettingValue("push_masterswitch") )
		<div target="push_masterswitch" class="switch #if( $switch && $switch == "true")on #end"></div>
		<input type="hidden" id="push_masterswitch" name="push_masterswitch.value" value="$switch" />
		

		<div class="note">[[Turns on or off push.]]</div>

		
		<label>[[URL]]</label>
		<input type="hidden" name="field" value="push_server_url" />
		<input class="field short" name="push_server_url.value" value ="$mediaarchive.getCatalogSettingValue("push_server_url")" />
		<div class="note">[[Input the URL of the EnterMedia server to which you wish to upload. http://demo.entermediasoftware.com]]</div>
		
		<label>[[Username]]</label>
		#set( $userid = $mediaarchive.getCatalogSettingValue("push_server_username") )
		<input type="hidden" name="field" value="push_server_username" />
		<input class="field" style="width: 225px;" name="push_server_username.value" value ="$userid" />
		
		<a class="btn" href="$home$apphome/views/settings/users/usermanager/user/index.html?username=$userid" >Edit User</a>
		
		<label>[[Target Catalog Id]]</label>
		<input type="hidden" name="field" value="push_target_catalogid" />
		<input class="field short" name="push_target_catalogid.value" value ="$mediaarchive.getCatalogSettingValue("push_target_catalogid")" />
		<div class="note">[[The ID of the catalog you want to push to.]]</div>

		<label>[[Asset ID Prefix]]</label>
		<input type="hidden" name="field" value="push_asset_prefix" />
		<input class="field short" name="push_asset_prefix.value" value ="$!mediaarchive.getCatalogSettingValue("push_asset_prefix")" />
		<div class="note">[[Added to the start of the asset ID for uploading]]</div>

	
	<input type="submit" class="btn" style="margin-top: 15px" value="Save" /> 
</div>

</form>

<script>

	$('.switch').click(function(){
		var target = $(this).attr("target");
		if ( $(this).hasClass('on') ) {
			$(this).removeClass('on');
			$('#autotimes').show();
			$("#" + target).attr("value","false");
		} else {
			$(this).addClass('on');
			$('#autotimes').hide();
			$("#" + target).attr("value","true");
		}	
	});

</script>
