 
 <ul class="emheaderbuttons" >

#set( $section = $content.section)

 <li #if( $section == "queue" ) class="navselected" #end><a href="$home$apphome/views/queue/index.html" >Queue</a></li>

<li #if( $section == "folders"   ) class="navselected" #end><a  href="$home$apphome/views/folders/index.html">Folders</a></li>

 <li #if( $section == "assets" ) class="navselected" #end><a href="$home$apphome/views/categories/index.html" >Assets</a></li>

 <li #if( $section == "settings" ) class="navselected" #end><a href="$home$apphome/views/emp-settings/index.html" >Settings</a></li>


</ul>