 
 <ul class="emheaderbuttons" >

#set( $section = $content.section)

#if ($user)
<li #if( $section == "folders" || $section == "home"  ) class="navselected" #end><a  href="$home$apphome/index.html">Folders</a></li>
#end

#if( $canviewupload )
 <li #if( $section == "assets" ) class="navselected" #end><a href="$home$apphome/views/categories/index.html" >Assets</a></li>
#end
 <li #if( $section == "settings" ) class="navselected" #end><a href="$home$apphome/views/emp-settings/index.html" >Settings</a></li>
#if ( $user )

#end

