<div id="folders" class="fwlist manual">
	<div class="folder">
		<div class="name">
			<div class="alias" title="Alias">Alias</div>
			<div class="path" title="C:/Path/To/The/Files/Goes/Here">C:/Path/To/The/Files/Goes/Here</div>
			<div class="last-activity">Last Scanned: 3:14 PM May 9, 2012</div>
		</div>
		<div class="delete">
			<a class="btn red">Delete</a>
		</div>
		<a class="btn red">Delete</a>
	</div>
	<div class="fields">
		
		$pages.include("$home$apphome/views/settings/hotfolders/edit.html")
		
	</div>
</div>

<script>
	$('.switch').click(function(){
			if ( $(this).hasClass('on') ) {
				$(this).removeClass('on');
			} else {
				$(this).addClass('on');
			}	
		});
</script>
