	
					<ul id="folders">
						
						<li class="auto">
							<a href="$home$apphome/views/folders/folder-setup.html" class="folder">
								<div class="name">
									<div class="alias" title="Alias">Alias</div>
									<div class="path" title="C:/Path/To/The/Files/Goes/Here">C:/Path/To/The/Files/Goes/Here</div>
								</div>
							</a>
							<div class="monitor">
								<span class="top">200 of 400 Files Uploaded!</span>
								<div>
									<div class="progress-bar-container">
										<div class="progress"></div>
									</div>
									<div class="scan">
										<a class="btn green">Scan</a>
									</div>
								</div>
								<span class="bottom">Estimated Upload Date: April 26th, 9:00PM</span>
							</div>
							<div class="switch on"></div>
						</li>
						<li class="auto">
							<a href="$home$apphome/views/folders/folder-setup.html" class="folder">
								<div class="name">
									<div class="alias" title="Really Long Alias that is dumb and really long">Really Long Alias that is dumb and really long</div>
									<div class="path" title="C:/Path/To/The/Files/Goes/Here">C:/Path/To/The/Files/Goes/Here</div>
								</div>
							</a>
							<div class="monitor">
								<span class="top">200 of 400 Files Uploaded!</span>
								<div>
									<div class="progress-bar-container">
										<div class="progress paused"></div>
									</div>
									<div class="scan">
										<a class="btn green">Scan</a>
									</div>
								</div>
								<span class="bottom">Estimated Upload Date: April 26th, 9:00PM</span>
							</div>
							<div class="switch"></div>
						</li>
						<li class="manual">
							<a href="$home$apphome/views/folders/folder-setup.html" class="folder">
								<div class="name">
									<div class="alias" title="Alias">Alias</div>
									<div class="path" title="C:/Path/To/The/Files/Goes/Here">C:/Path/To/The/Files/Goes/Here</div>
								</div>
							</a>
							<div class="monitor">
								<span class="top">200 of 400 Files Uploaded!</span>
								<div>
									<div class="progress-bar-container">
										<div class="progress"></div>
									</div>
									<div class="scan">
										<a class="btn" style="width: 50px">Rescan</a>
									</div>
								</div>
								<span class="bottom">Estimated Upload Date: April 26th, 9:00PM</span>
							</div>
							<div class="switch"></div>
						</li>
						<li class="manual">
							<a href="$home$apphome/views/folders/folder-setup.html" class="folder">
								<div class="name">
									<div class="alias" title="Really Long Alias that is dumb and really long">Really Long Alias that is dumb and really long</div>
									<div class="path" title="C:/Path/To/The/Files/Goes/Here">C:/Path/To/The/Files/Goes/Here</div>
								</div>
							</a>
							<div class="monitor">
								<span class="top">200 of 400 Files Uploaded!</span>
								<div>
									<div class="progress-bar-container">
										<div class="progress paused"></div>
									</div>
									<div class="scan">
										<a class="btn" style="width: 50px">Scan</a>
									</div>
								</div>
								<span class="bottom">Estimated Upload Date: April 26th, 9:00PM</span>
							</div>
							<div class="switch on"></div>
						</li>
						<li class="add">
							<div class="folder"></div>
							<a class="btn right">Add New Folder</a>
						</li>
					</ul>				



<script>
	$('.switch').click( function() {
		if ( $(this).hasClass('on') ) {
			$(this).removeClass('on');
		} else {
			$(this).addClass('on');
		}
	})
		
</script>