
<div id="queuestatuslist" class="ajaxstatus" ajaxpath="$home$apphome/views/queue/index.html?oemaxlevel=1">

$pages.include("$apphome/views/queue/overall-progress.html",$context)

#set( $pathEventManager = $moduleManager.getBean($catalogid,"pathEventManager") )

#set( $event = $pathEventManager.getPathEvent("/$catalogid/events/push/pushassets.html") )
#if( !$event.isEnabled() )
<p>Push assets event is disabled.</p>
#else

#if( $event.isRunning() )
	<p class="info">Pushing Assets</p>
#else
	<p class="info">Push Complete, toggle pause button to start push now</p>	
#end
#end	

<h2>Stats</h2>
<p>
<a href="$home$apphome/views/search/search.html?field=pushstatus&pushstatus.value=complete&operation=matches&resultstype=table"><b>$completedassets.size()</b> assets pushed</a> 
</p>

<p>
<a href="$home$apphome/views/search/search.html?field=pushstatus&pushstatus.value=error&operation=matches&resultstype=table"><b>$errorassets.size()</b> assets had an error uploading</a> 
</p>

<p>
<a href="$home$apphome/views/search/search.html?field=pushstatus&pushstatus.value=notallconverted&operation=matches&resultstype=table"><b>$notconverted.size()</b> waiting on converted thumbnails</a> 
</p>

</div>
