


$pages.include("$apphome/views/queue/overall-progress.html")

<ul id="queue" class="fwlist">
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>
	<li>
		<a href="#">
			<div class="name jpg" title="filename.jpg (214.8 mb)">
				<span>filename.jpg</span>
				<span class="p"> (</span><span class="filesize">214.8 mb</span><span class="p">)</span>
			</div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="percentage">7%</div>
		</a>
	</li>

	
</ul>

