
<div class="overall">
	<div class="monitor">
		<span class="top">200 of 400 Files Uploaded!</span>
		<div>
			<div class="progress-bar-container">
				<div class="progress"></div>
			</div>
			<div class="pause">
			<a class="btn" style="width: 50px">Pause</a>
			
		</div>
		</div>
		<span class="bottom">Estimated Upload Date: April 26th, 9:00PM</span>
	</div>
</div>


<script>
	$('.switch').click( function() {
		if ( $(this).hasClass('on') ) {
			$(this).removeClass('on');
		} else {
			$(this).addClass('on');
		}
	})
		
</script>