
<div class="overall">
	<div class="monitor">
		<span class="top">$pushrequestscomplete.size() of $pushrequests.size() Files Uploaded!</span>
		<div>
			#set( $total = 685 * $mathutil.getPercentage($pushrequestscomplete.size() , $pushrequests.size()))
			
			<div class="progress-bar-container">
				<div class="progress" style="width: ${total}px;"></div>
			</div>
			<div class="pause">
			#set( $enabled = $mediaarchive.getCatalogSettingValue("push_masterswitch") )
			#if( $enabled == "true")
			
				<a class="btn ajax" targetdivinner="queuestatuslist" style="width: 50px" href="$home$apphome/components/push/togglepush.html">Pause</a>
			#else
				<a class="btn ajax" targetdivinner="queuestatuslist" style="width: 50px" href="$home$apphome/components/push/togglepush.html">Resume</a>
			#end
			
		</div>
		</div>
		##<span class="bottom">Estimated Upload Date: April 26th, 9:00PM</span>
	</div>
</div>


<script>
	$('.switch').click( function() {
		if ( $(this).hasClass('on') ) {
			$(this).removeClass('on');
		} else {
			$(this).addClass('on');
		}
	})
		
</script>