

<div id="queue-preview" class="fw">
	
	<img class="emdropshadow" src="http://localhost:8080/media/catalogs/public/downloads/preview/mediumplus/hotfolder1/Image/Boquet.jpg/thumb.jpg" />
	
	<div class="meta" id="asset-data">
		
		<ul id="asset-assettype-default-general" class="emdataviewer">
			<li id="assettitle">
				<span class="field"> Asset Title </span>
				<span class="data"> Big BOOMERS </span>
			</li>
			<li id="caption">
				<span class="field"> Caption </span>
				<span class="data"> This is an asset caption ... yes it is! </span>
			</li>
			<li id="longcaption">
				<span class="field"> Description </span>
				<span class="data"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </span>
			</li>
			<li id="importstatus">
				<span class="field"> Import Status </span>
				<span class="data"> Complete </span>
			</li>
			<li id="owner">
				<span class="field"> Owner </span>
				<span class="data"> admin </span>
			</li>
		</ul>

	</div>
	
</div>
	


